.welcomeButtonText {
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  line-height: 48px;
}

.welcomeButton {
  background: #2f80ed;
  width: 180px;
  height: 48px;
  border-radius: 35px;
  margin: 40px auto;
  cursor: pointer;
}

.welcomeButton:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
