.LeftPanel {
  display: grid;
  grid-template-rows: 100px 1fr 120px;
  position: relative;
  height: 100vh;
}

.Title {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
  align-self: center;
  text-align: center;

  color: #2f80ed;
}

.SettingsList {
  background: #2f80ed;
  border-radius: 30px 30px 0px 0px;
  justify-self: stretch;
  display: grid;
  align-content: space-between;
  padding: 10px;
}

.Settings {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #ffffff;
  border-radius: 30px;
  padding: 5px 15px 5px 15px;
}

.SettingElementText {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;

  color: #2f80ed;
}
