.Item {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.Description {
  font-weight: normal;
  width: 250px;
  margin-top: 30px;
  height: 150px;
}

.RoundedBorders {
  background: #ffffff;

  border: 1px solid #2f80ed;
  box-sizing: border-box;
  border-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 0 10px 0;
  cursor: pointer;
}

.RedText {
  color: rgba(235, 87, 87, 1);
}

.GreenText {
  color: rgb(38, 160, 89);
}
