.Controls {
  display: flex;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 12px;
  z-index: 10;
}

.Route {
  flex: 1;
  background: #ffffff;
  border-radius: 35px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  padding: 10px 20px 10px 20px;
}

.RouteText {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: start;
  white-space: nowrap;
  /* identical to box height */

  color: #000000;
}

.Circle {
  background: #ffffff;
  shape-outside: circle();
  border-radius: 35px;
  width: 47px;
  margin-left: 10px;
  padding: 12px 0px;
  text-align: center;
  cursor: pointer;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.NotificationsOpened {
  background-color: rgba(233, 240, 254, 1);
}
