.ServerList {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.Loading {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
