@media (min-width: 850px) {
  .Specs {
    grid-column: span 2;
  }
}

.SpecsDescription {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 50px);
  justify-content: center;
  column-gap: 10px;
}

.Item {
  display: flex;
  font-size: 18px;
}

.Key {
  color: #2f80ed;
  margin-right: 10px;
}
.Value {
  font-weight: bold;
}
