.Loading {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin 500ms ease-in-out;
  z-index: 0;
}

.HideLoading {
  margin-bottom: -77px;
  z-index: -1;
}

.Panels {
  display: grid;
  grid-auto-rows: 330px;
  grid-template-columns: repeat(1, 330px);
  row-gap: 15px;
  column-gap: 15px;
  padding: 20px;
  overflow: auto;
  z-index: 1;
}

@media (min-width: 850px) {
  .Panels {
    grid-template-columns: repeat(2, 330px);
  }
}

@media (min-width: 1250px) {
  .Panels {
    grid-template-columns: repeat(3, 330px);
  }
}

