.welcomeBody {
  background: #f9fbff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.welcomeWrapper {
  font-family: Arial, serif;
  background: #ffffff;
  width: 600px;
  border-radius: 35px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 35px 0 10px;
}

.welcomeLogo {
  display: inline-block;
  color: #2f80ed;
  font-size: 25px;
}

.welcomeText {
  margin: 45px 0 0;
  font-size: 18px;
}

.welcomeTextTeam {
  font-weight: 900;
  margin: 10px 0 0;
}

.welcomeTextCall {
  margin: 25px 0 0;
  font-weight: 900;
}

.welcomeButtonText {
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  line-height: 48px;
}

.welcomeButton {
  background: #2f80ed;
  width: 180px;
  height: 48px;
  border-radius: 35px;
  margin: 40px auto;
  cursor: pointer;
}

