.Body {
  background: #f9fbff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Title {
  font-size: 160px;
  color: #459ff0;
}

.Text {
  font-size: 35px;
}

.Wrapper {
  font-family: Arial, serif;
  background: #ffffff;
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 35px 0 10px;
}

.Button {
  background: #2f80ed;
  width: 400px;
  height: 60px;
  border-radius: 35px;
  margin: 40px auto;
  cursor: pointer;
}

.Button:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.ButtonText {
  color: #ffffff;
  font-weight: 900;
  font-size: 25px;
  line-height: 60px;
}
