.Alert {
  font-family: "Rubik", sans-serif;
  font-size: 20px;

  padding: 10px 0px;
  display: grid;
  justify-items: center;
  grid-template-columns: 60px 140px repeat(3, 210px) 190px 60px;
  align-items: center;
}

.Status {
  width: 16px;
  height: 16px;
  border-radius: 35px;
}

.Active {
  background: #27ae60;
}

.InActive {
  background: #eb5757;
}

.RoundedBorders {
  font-size: 16px;
  font-weight: bold;
  margin: 0px 10px;
  height: 40px;

  background: #ffffff;

  border: 1px solid #2f80ed;
  box-sizing: border-box;
  border-radius: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 15px;
  cursor: pointer;
}

.RedText {
  width: 120px;
  color: #eb5757;
}

.GreenText {
  width: 120px;
  color: #27ae60;
}
