.Menu {
  position: relative;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border-radius: 35px;
  margin-left: 10px;
  padding: 0px 20px 0px 10px;
  height: 47px;

  color: #000000;
}

.Arrow {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
  cursor: pointer;
}

.Arrow.Open {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.OptionsContainer {
  background-color: white;
  border: 1px solid #2f80ed;
  border-radius: 35px;
  overflow: visible;
  position: absolute;
  top: 40px;
  margin-left: -100px;
  font-size: 18px;
  width: 200px;
  transition: opacity 0.5s;
  opacity: 1;
  padding: 20px 20px 10px 20px;
}

.OptionsContainer.Hide {
  opacity: 0;
  pointer-events: none;
}

.RoundedBorders {
  background: #ffffff;

  border: 1px solid #2f80ed;
  color: rgba(235, 87, 87, 1);
  box-sizing: border-box;
  border-radius: 40px;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px 0 5px 0;
  cursor: pointer;
}
