@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

.Main {
  padding: 0px 20px;
}

.Name {
  grid-column: 1 / 3;
}

.List {
  width: 1100px;
  background: #ffffff;

  font-style: normal;
  font-weight: bold;
  font-size: 22px;

  display: grid;
  grid-template-columns: 60px 140px repeat(4, 210px);
  justify-items: center;

  margin-bottom: 15px;

  border-radius: 35px 35px 0px 0px;
  height: 80px;
  align-items: end;
  padding-bottom: 15px;
}
