.authBody {
  background: #f9fbff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginMargin {
  margin-top: 20px;
}

.Red {
  background-color: rgba(255, 0, 0, 0.4) !important;
}

.authWrapper {
  background: #ffffff;
  width: 600px;
  border-radius: 35px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.158);
  /* margin: 0 auto; */
  padding: 35px 0 10px;
}

.authButtonWrapper {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  width: 435px;
}

.authTextWrapper {
  color: #979797;
  width: 430px;
  margin: 15px auto;
  font-size: 16px;
}

.authTextLink {
  color: #979797;
  text-decoration: underline;
}
