.Server {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 60px auto;
  margin-top: 10px;
  padding: 0 20px 0px 20px;

  color: #cccccc;
  height: 40px;
  cursor: pointer;
}

.Server.Active {
  background: #2f80ed;
  border-radius: 35px;
  color: #ffffff;
}
.Server.Active:hover {
  color: #ffffff;
}

.Server:hover {
  color: #a5a5a5;
}
