.ControlPanel {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;

  color: #2f80ed;
}

.RoundedBorders {
  background: #ffffff;

  border: 1px solid #2f80ed;
  box-sizing: border-box;
  border-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 0 10px 0;
  cursor: pointer;
}

.RedText {
  color: rgba(235, 87, 87, 1);
}

.GreenText {
  color: rgb(38, 160, 89);
}

.GrayText {
  color: rgb(107, 119, 112);
}
