.Dropbtn {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 20px;
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #2f80ed;
  box-sizing: border-box;
  border-radius: 40px;
  cursor: pointer;
  padding: 0px 15px;
}

.Dropdown {
  position: relative;
  display: inline-block;
}

.Gray {
  color: gray;
}
.DropdownContent {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 20px;
  cursor: pointer;

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.DropdownContent div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.DropdownContent div:hover {
  background-color: #f1f1f1;
}

.Dropdown.Open .DropdownContent {
  display: block;
}

.Arrow {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
  cursor: pointer;
  margin-right: 10px;
}

.Arrow.Open {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}
