@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

.List {
  width: 1100px;
  background: #ffffff;

  font-style: normal;
  font-weight: bold;
  font-size: 22px;

  display: grid;
  grid-template-columns: 60px 140px repeat(4, 210px);
  justify-items: center;

  margin-bottom: 15px;

  border-radius: 0px;
  height: 100px;
  align-items: center;
}

.Name {
  margin-left: 10px;
  grid-column: 1 / 3;
}

.InputBorders {
  height: 50px;
  width: 180px;
  background: #ffffff;
  border: 1px solid #2f80ed;
  box-sizing: border-box;
  border-radius: 40px;
}

.Value {
  display: flex;
}

.InputBorders.Half {
  width: 90px;
  border-radius: 0px 40px 40px 0px;
}

.HalfConditions {
  width: 90px;
  border-radius: 40px 0px 0px 40px;
}

.Red {
  background-color: rgba(255, 0, 0, 0.4);
}

.RoundedBorders {
  font-size: 16px;
  font-weight: bold;
  color: #27ae60;
  margin: 0px 10px;
  height: 40px;

  background: #ffffff;

  border: 1px solid #2f80ed;
  box-sizing: border-box;
  border-radius: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 35px;
  cursor: pointer;
}
