.WhiteBox {
  min-width: 330px;
  background: #ffffff;
  border-radius: 35px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  padding: 30px;
}

.BoxText {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  align-self: start;
  text-align: center;
  margin-bottom: 10px;

  color: #000000;
}
