@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

body {
  background: #f9fbff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
