@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

.NotificationContainer {
  background-color: rgba(233, 240, 254, 1);
  border: 1px solid #2f80ed;
  border-radius: 35px;
  overflow: visible;
  position: absolute;
  top: 60px;
  margin-left: -175px;
  width: 350px;
  transition: opacity 0.5s;
  opacity: 1;
  padding: 20px 0px 0px;
}

.Notification {
  background: #ffffff;
  border-radius: 35px;
  height: 90px;
  margin: 10px;
  padding: 10px;
  display: grid;
  justify-items: center;
  grid-template-columns: 3fr 3fr 1fr;
}

.AlertTitle {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #2f80ed;
  display: grid;
  align-content: space-between;
}

.AlertContent {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  justify-self: end;
  align-self: center;
  color: rgba(229, 59, 53, 1);
}

.NotificationContainer.hide {
  opacity: 0;
  pointer-events: none;
}

.BoxText {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  align-self: start;
  text-align: center;

  color: #000000;
}

.RedText {
  color: rgba(235, 87, 87, 1);
}

.Close {
  cursor: pointer;
}
