.Dashboard {
  display: grid;
  height: 100vh;
  grid-template-columns: 210px auto;
}

.MainBoard {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: #eeeff3;
}

.Panels {
  display: grid;
  grid-auto-rows: 330px;
  grid-template-columns: repeat(auto-fill, 330px);
  row-gap: 15px;
  column-gap: 15px;
  padding: 20px;

  overflow: auto;
}
