.authButton {
  background: #2f80ed;
  width: 200px;
  padding: 1px;
  border-radius: 35px;
  cursor: pointer;
}

.authButtonText {
  color: #ffffff;
  font-weight: 900;
  font-size: 16px;
  /* line-height: 48px; */
}

.authButtonLeft {
  background: #2f80ed;
  border: 1px solid #2f80ed;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
}

.authButtonLeftText {
  color: #ffffff;
}
